#root {
  background: #181c2a;
  min-height: 100vh;
  width: 100%; }

.content {
  margin: 0px 7%;
  background: #1a1f2e;
  padding: 25px 40px; }

.container {
  display: flex;
  margin: 8% 0;
  flex-wrap: wrap; }

.spinner {
  margin: 5% auto; }

footer {
  width: 100%;
  color: white;
  font-family: 'Calibri', sans-serif;
  display: flex;
  justify-content: space-between;
  margin: 60px 10px 0 10px; }

.by p {
  color: #586b9e; }

nav {
  line-height: 90px;
  text-align: right; }
  nav .logo {
    float: left;
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold; }
  nav .desktopNav a {
    color: white;
    text-shadow: 0 6px 22px 0 rgba(0, 0, 0, 0.08);
    text-decoration: none;
    padding-left: 15px;
    font-family: 'Calibri', sans-serif;
    font-size: 14px; }
  nav .active {
    color: #d63e57; }

.search__content {
  max-width: 50%; }

.search__content--h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 42px;
  color: #d63e57; }

.search__content p {
  font-family: 'Calibri', sans-serif;
  font-size: 17px;
  color: #7f7f80;
  width: 90%;
  line-height: 25px;
  margin-top: -15px;
  margin-bottom: 25px; }

.search__content form {
  max-width: 90%;
  display: flex;
  font-family: 'Calibri', sans-serif; }

.search__content form input {
  width: 100%;
  padding: 20px;
  border: 0;
  background: #212635;
  border-radius: 4px;
  outline: 0;
  color: #7f7f80; }

.search__content form button {
  background: #d63e57;
  border: 0;
  outline: 0;
  color: white;
  width: 25%;
  margin-left: 2%;
  border-radius: 4px;
  font-weight: bold;
  font-size: 11px;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer; }

.search__content--icons {
  margin-top: 5%;
  display: flex; }

.search__content--icons a {
  background: #202940;
  padding: 10px 12px;
  color: #586b9e;
  margin-right: 15px;
  border-radius: 50%; }

.search__content--icons a:hover {
  background: #293451;
  color: #7687b3; }

.tracks:nth-child(2) {
  width: 50%;
  margin-right: 0;
  margin-top: 0; }

.tracks:nth-child(6) {
  width: 40%; }

.tracks:nth-child(7) {
  width: 54%; }

.tracks:nth-child(2) .track-body {
  padding-top: 4%; }

.tracks:nth-child(2) .track-body h1 {
  padding: 5px 15px; }

.tracks:nth-child(2) .track-body h1 strong {
  font-size: 42px; }

.tracks:nth-child(2) .track-body .track-artist {
  font-size: 28px; }

.tracks:nth-child(2) .track-lyrics {
  line-height: 24px;
  font-size: 17px; }

.tracks:nth-child(2) .track-info {
  font-size: 16px; }

.tracks {
  width: 30%;
  background: #202940;
  margin-top: 10%;
  margin-right: 3%;
  border-radius: 8px;
  position: relative; }

.track-body {
  z-index: 1; }

.track-body h1 {
  font-family: 'Montserrat', sans-serif;
  color: white;
  padding: 5px 15px;
  width: 80%; }

.track-body h1 a {
  color: white;
  text-decoration: none; }

.track-body h1 strong {
  font-size: 28px; }

.track-body .track-by {
  font-size: 16px;
  margin-left: 2px; }

.track-body .track-artist {
  color: #d63e57;
  font-size: 18px; }

.tracks .background img {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  padding: 0;
  margin: 0;
  z-index: 0;
  pointer-events: none; }

.track-lyrics {
  color: #7c8db9;
  padding: 0 15px;
  width: 80%;
  margin-left: 1%;
  font-family: 'Calibri', sans-serif;
  line-height: 20px;
  font-size: 15px;
  margin-bottom: 25px; }

.track-text {
  padding: 0 15px;
  font-family: 'Calibri', sans-serif;
  color: white;
  margin-bottom: 25px; }

.track-info {
  font-size: 14px; }

.track-info p i {
  padding-right: 3px; }

.track-text span {
  color: #d63e57;
  font-weight: bold; }

.tracks .view-lyrics {
  margin-bottom: 25px; }

.tracks .view-lyrics a {
  padding: 0 15px;
  color: #d63e57;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none; }

.lyrics__back {
  background: #d63e57;
  color: white;
  text-decoration: none;
  padding: 20px 30px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif; }

.card .card-header {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 32px; }

.card .card-text {
  color: #7c8db9;
  font-family: 'Calibri', sans-serif;
  line-height: 30px;
  font-size: 20px;
  margin-bottom: 25px; }

.list-group {
  color: white;
  list-style-type: none;
  padding: 10px;
  display: flex; }

.list-group .list-group-item {
  margin-right: 20px;
  font-family: 'Calibri', sans-serif;
  font-weight: bold; }

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    width: 100%; }
    .container .search__content {
      max-width: 100%;
      width: 100%; }
    .container .tracks {
      width: 100%;
      margin-top: 10%; } }

@media screen and (max-width: 414px) {
  nav {
    display: flex;
    flex-direction: column;
    width: 100%; }
  .logo {
    width: 100%;
    text-align: center; }
  .desktopNav {
    text-align: center;
    width: 100%; }
  .desktopNav a {
    padding-right: 5px; }
  .search__content {
    width: 100%; }
  .search__content h1 {
    font-size: 22px;
    width: 100%; }
  .search__content p {
    margin-top: 0;
    width: 100%;
    font-size: 17px; }
  .search__content form {
    display: flex;
    flex-direction: column; }
  .search__content form button {
    width: 60%;
    margin-top: 5%;
    padding: 20px; }
  .search__content--icons {
    margin-top: 30px; }
  .search__content--icons a {
    padding: 11px 12px; }
  .track-body h1 strong, .tracks:nth-child(2) .track-body h1 strong {
    font-size: 26px; }
  .track-body .track-artist, .tracks:nth-child(2) .track-body .track-artist {
    font-size: 16px; } }
